.sidebar,
.scrollbar {
    height: auto;
    position: fixed;
    scrollbar-width: thin;
    float: right;
    text-align: justify;
    border-style: solid;
    width: 28%;
}

.index {
    width: 70%;
    background-color: rgb(33, 237, 132);
    border-style: solid;
}

.radio,
.checkbox {
    text-align: left;
    padding-left: 5px;
}

.radio1,
.checkbox1 {
    text-align: center;
}

#time {
    float: right;
    font-size: 20px;
    margin-right: 5px;
    color: rgb(209, 85, 85);
}